html {
  font-size: 10px;
  background-color: #111111;
  width: 100vw;
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
}

.titulo {
  color: #f5b63f;
  font-size: clamp(2rem, 4vh, 6vh);
}

.botao_rodape {
  padding: 0.5vw 2.75vw;
  font-size: x-large;
  text-decoration: none;
  color: white;
  background-color: #f5b63f;
  border-radius: 0.6vw;
  width: fit-content;
  transition: 0.1s ease-in-out;
}

.botao_rodape:hover {
  font-weight: bold;
  padding: 0.55vw 2.8vw;
  background-color: #fdaa0f;
  transition: 0.1s ease-in-out;
}

.header {
  z-index: 100000;
  position: sticky;
  top: 0%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 4% solid #111111;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 0.5vw;
  padding-right: 8vw;
  z-index: 1000;
  text-decoration: none;
  background-color: transparent;
  align-items: center;
}

.navbar__icones {
  display: flex;
  gap: 0.5vw;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  top: 0%;
}

.navbar__icone {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 3vw;
  min-width: fit-content;
  gap: 1vw;
  height: 5vh;
  background-color: #2b2a2a;
  border-radius: 50%;
  text-decoration: none;
  transition: width 0.3s ease-in-out, padding 0.3s ease-in-out, background-color 0.3s ease-in-out, border-radius 0.3s ease-in-out;
}

.navbar__icone:hover {
  width: fit-content;
  padding-left: 1vw;
  padding-right: 1vw;
  border-radius: 20px;
  background-color: #f5b63f;
}

.icone__span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
}

.icone__anchor {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.icone__text {
  display: none;
  color: white;
  font-weight: bold;
  font-size: 1vmax;
}

.navbar__icone:hover > .icone__text {
  display: flex;
}

#icone-hamburger {
  width: 5vw;
  height: 5vw;
  background-color: transparent;
  border: none;
  padding: 0px;
}

#icone-hamburger:hover {
  color: #f5b63f;
  padding: 0px;
}

#icone-hamburger > .hamburger {
  background-color: transparent;
  border-color: transparent;
  width: 100%;
  height: 100%;
  font-size: 6.5rem;
}

#icone-hamburger > .hamburger:hover {
  color: #f5b63f;
  padding: 0px;
}

.navbar__icones {
  position: fixed;
  top: 4%;
  gap: 0.5vw;
  right: -100;
  visibility: hidden;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transform: translateX(100%);
  transition: transform 0.5s, visibility ease 0.5s;
  z-index: 999;
}

#icone-hamburger.open .hamburger {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}
#icone-hamburger.close .hamburger {
  transform: rotate(0deg);
  transition: transform 0.3s;
}

.section-home {
  width: 100vw;
  background-color: #111111;
  display: flex;
  justify-content: center;
}

.section-home__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10vw;
}

.section-home__img {
  width: 40%;
}
.section-home__img-conteudo {
  width: 100%;
}

.section-home__texto {
  color: white;
  background-color: #111111;
  width: 40%;
  align-items: center;
}

.texto__intro {
  font-weight: normal;
  font-size: x-large;
  padding-bottom: 1%;
  margin: 0;
}

.texto__titulo {
  display: flex;
  align-items: center;
  font-size: 3vmax;
}

.texto__descricao {
  font-weight: lighter;
  font-size: large;
  padding-bottom: 3vw;
  padding-bottom: 10%;
  margin: 0;
}

.titulo__span {
  font-weight: 900;
  font-size: 3vmax;
  padding: 0;
  margin: 0;
  padding-left: 1%;
}

.section-sobre {
  background-color: #111111;
  color: white;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-top: 5%;
}

.titulo {
}

.section-sobre__wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 5%;
}

.section-sobre__wrapper__content {
  padding-bottom: 1vw;
}

.section-sobre__wrapper__info {
  display: flex;
  flex-direction: row;
}

.section-sobre__info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-sobre__img {
  width: 50%;
}

.img__conteudo {
  width: 100%;
}

.section-sobre__info__box {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5vw;
}

.box__descricao {
  font-size: x-large;
  color: white;
  width: 100%;
}
.box__titulo {
  font-size: large;
  color: #c4c4c4;
  width: 100%;
  margin: 0;
}

.section-portfolio {
  width: 100vw;
  background-color: #111111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
  padding-top: 5%;
}

.section-portfolio__wrapper {
  width: 80%;
}

.section-portfolio__icones {
  display: flex;
  justify-content: flex-end;
  gap: 1%;
  padding-bottom: 1%;
}

.section-portfolio__span-icone {
  color: white;
  transition: 0.3s ease;
  font-size: xx-large;
}

.section-portfolio__icone > .section-portfolio__span-icone:hover {
  color: #f5b63f;
  transition: 0.3s ease;
}

.section-portfolio__imagens {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3vw;
  padding: 0;
  padding-bottom: 5vw;
  justify-items: center;
}

.section-portfolio__imagem {
  width: 100%;
  opacity: 1;
  order: 1;
  transform: translateX(0);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.section-portfolio__imagem.hidden {
  opacity: 0;
  transform: scale(0);
  pointer-events: none;
  order: 0;
}

.section-skills {
  width: 100vw;
  background-color: #111111;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-skills__wrapper {
  width: 80%;
  padding-bottom: 5vw;
  padding-top: 5vw;
}

.section-skills__lista {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(0.2vw, 7vw));
  gap: 5vw;
  margin-right: 10vw;
}

.section-skills__item {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5vw;
}

.section-skills__item__titulo {
  font-size: medium;
  font-weight: bold;
  color: #858585;
  transition: 0.5s ease;
}

.item__logo {
  filter: grayscale();
  transition: 0.5s ease;
  width: 100%;
}

.section-skills__item:hover > .item__logo {
  transition: 0.5s ease;
  filter: none;
}

.section-skills__item:hover > .section-skills__item__titulo {
  transition: 0.5s ease;
  color: #f5b63f;
}

.section-skills__item-estrelas {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-right: 4.5vw;
  gap: 0;
}

.item-estrelas__estrela-wrapper {
  gap: 0;
}

.estrela {
  width: 10%;
  color: #858585;
  transition: 0.5s ease;
  font-size: 1.5vmax;
}

.section-skills__item:hover
  > .section-skills__item-estrelas
  > .item-estrelas__estrela-wrapper
  > .estrela {
  color: #f5b63f;
  transition: 0.5s ease;
}

.section-experiencia {
  width: 100vw;
  background-color: #111111;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5%;
}

.section-experiencia__wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.section-experiencia__wrapper__content {
  display: flex;
  flex-direction: row;
  padding-bottom: 5%;
  justify-content: space-between;
  align-items: center;
}

.section-experiencia__wrapper__info {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.section-experiencia__info {
  padding: 0px;
  margin: 0px;
}

.info-box {
  width: 80%;
  display: flex;
  flex-direction: column;
  color: white;
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
  margin: 0px;
}

.info-box__titulo {
  font-size: x-large;
  font-weight: bolder;
}

.info-box__descricao {
  font-size: large;
  font-weight: normal;
  margin: 0;
}

.info-box__data {
  width: 100%;
  max-height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3vw;
  padding-bottom: 2px;
}

.data__icone-calendario {
  height: 1%;
  color: #f5b63f;
}

.data__periodo {
  padding-top: 2px;
  font-size: large;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.section-experiencia__quadrados {
  width: 50%;
  height: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
  gap: 3vw;
}

.section-experiencia__quadrado {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #f1f1f1;
}

.quadrado__numero {
  color: #f5b63f;
  font-size: 50px;
  font-weight: bolder;
  margin-bottom: 0.1vw;
  margin-top: 2vw;
}

.quadrado__texto {
  font-size: medium;
  font-weight: normal;
  margin-bottom: 2vw;
}

.section-educacao {
  background-color: #111111;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding-top: 5%;
}

.section-educacao__wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 5vw;
  width: 80%;
}

.section-educacao__rodape {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.section-educacao__coluna__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* flex-direction: row; */
  gap: 10vw;
}

.section-educacao__coluna {
  padding: 0px;
}

.titulo {
  padding-left: 0;
}

.section-educacao__coluna__titulo {
  font-size: 1.1vmax;
  background-color: #2a2a2a;
  max-width: 21vw;
  justify-content: center;
  display: flex;
  padding: 0.5vw;
  color: #f5b63f;
}

.section-contato {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111111;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #f5b63f;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 10000;
  right: 0;
  top: 8vh;
  max-height: fit-content;
  font-size: 1.5vmax;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

.section-contato__wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  background-color: #111111;
}

.section-contato__wrapper__content {
  display: flex;
  flex-direction: row;
  padding-top: 3%;
  padding-bottom: 5%;
}

.section-contato__contacts {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-bottom: 5%;
  gap: 1.5vw;
}

.section-contato__item {
  display: flex;
  gap: 1vw;
  align-items: center;
}

.contato__link {
  text-decoration: none;
  color: black;
}

.contato__icone {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  background-color: #f5b63f;
  padding: 0.4vw;
  border-radius: 6px;
  margin: 0;
  min-width: 1.8vw;
  min-height: 1.8vw;
}

.section-contato__item__texto {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.texto__rede-social {
  font-size: large;
  font-weight: lighter;
  margin: 0;
}

.texto__contato {
  font-size: medium;
  font-weight: bold;
}

.section-contato__rodape {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10%;
  padding-right: 6vw;
}

.section-contato__rodape__icones {
  display: flex;
  flex-direction: row;
  color: white;
  margin: 0;
  gap: 2vw;
}

.section-contato__rodape__icone {
  text-decoration: none;
  color: white;
  min-width: 3vw;
  min-height: 3vw;
}

.icone__rede {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  background-color: #2b2a2a;
  padding: 0.4vw;
  border-radius: 1000px;
  min-width: 2vw;
  min-height: 2vw;
  transition: 0.5s ease;
}

.icone__rede:hover {
  cursor: pointer;
  background-color: #f5b63f;
  color: black;
  transition: 0.2s ease;
}

.section-contato__form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1vw;
  font: inherit;
}

.form-simples {
  width: 100%;
  border-radius: 8px;
  background: #2b2a2a;
  min-height: 3vw;
  border: 1px solid #c4c4c4;
  padding: 0 1.25rem;
  color: white;
}

.form-longo {
  width: 100%;
  border-radius: 8px;
  background: #2b2a2a;
  min-height: 10vw;
  resize: vertical;
  border: 1px solid #c4c4c4;
  font: inherit;
  padding: 0 1.25rem;
  padding-top: 1.25rem;
  color: white;
  font-size: small;
}

.form-longo::placeholder,
.form-simples::placeholder {
  font-weight: normal;
  font-size: large;
  color: #c4c4c4;
}

.form-longo:hover,
.form-simples:hover {
  outline-color: #f7c25f;
  border-color: #f7c25f;
}

.form-longo:focus,
.form-simples:focus {
  outline-color: #f5b63f;
  border-color: #f5b63f;
}

.botao_rodape {
  border: transparent;
  cursor: pointer;
}

.botao_rodape:hover {
  font-weight: bold;
}



